* {
    font-family: 'Titillium Web', sans-serif;
}

body {
    /* background-color: rgb(207, 126, 140); */

    background-image: linear-gradient(45deg,#F1CD7F,#D799DC);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Alatsi';
}

.container {
    width: 1200px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 40px -10px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* -moz-transform: translate(-50%,-50%); */
}

.row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
}

.part1 {
    background-color: #F4D084;
    padding: 50px 0 0 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #ad7e0f;
}

.part1 > h3 {
    font-family: 'Alex Brush';
    padding-left: 60px;

}

.part1 > h2 {
    padding: 0 60px;
    color: #7E5B0A;
}

.part1 > p {
    position: relative;
    bottom: 10px;
    padding-left: 60px;
    font-size: small;
    /* left: ; */
}
.part1 > p > a {
    color: #ad7e0f;
}

.part1 > img {
    width: 100%;
    padding: 100px 0 0 20px;
}

.part2 {
    background-color: #FFF;
    padding: 20px 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.part2 > h4 {
    direction: rtl;
    margin: 0;
    font-size: smaller;
    font-weight: 400;
}

.part2 > h4 > a {
    text-decoration: none;
}


.form-body {
    padding: 40px 160px 0 160px;
    display: grid;
}


.form-body > h2::first-letter {
    text-transform: uppercase;
}

.form-body > h2 {
    padding: 0;
    margin-bottom: 0;
}

.form-body > .social-media {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    padding: 20px 0;
    grid-gap: 10px;
}

.btn {
    padding: 10px;
    background-color: #ddd;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    /* margin: 10px; */
    position: relative;
}

.btn > i.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-btn {
    width: calc(100% - 20px);
    background-color: #4286F5;
}

.main-btn > i {
    position: relative;
    top: -3px;
    left: 5px;
}

.main-btn > span {
    text-align: center;
    display: inline-block;
    width: 100%;
    top: -28px;
    position: relative;

}

.form-component {
    position: relative;
}

.form-body > .form-component > .or {
    text-align: center;
    padding-bottom:20px;
    /* background-color: red; */
    margin: auto;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
}


.form-body > .form-component > .or:before {
    content: "";
    /* height: 2px; */
    width: 100%;
    border-bottom: 1px solid #000;
    position: absolute;
    left: 0;
    top: 13px;
    z-index: -2;
}

.form-body > .form-component > .or:after {
    content: "";
    height: 20px;
    width: 40px;
    /* border-bottom: 1px solid #000; */
    position: absolute;
    /* left: 0; */
    top: 2px;
    left: calc(50% - 20px);
    /* background-color: aqua; */
    background-color: #FFF;
    margin: auto;
    z-index: -1;
    
}

/* #EA4C89 */
/* #4286F5 */