* {
    font-family: 'Titillium Web', sans-serif;
}


.container{
    margin: auto;
    width: 50vw;
    background-color: #ccc;
    padding: 60px 150px;
}

input {
    border: none;
    border-radius: 6px;
    background-color: #aaa;
    font-size: 22px;
}


.container {
    display: grid;
}