* {
    font-family: 'Titillium Web', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(207, 126, 140);
}

.container {
    /* background-image: linear-gradient(45deg,rgb(199, 180, 70),rgb(207, 126, 140)); */
    /* background-repeat: fill; */
    /* background-position: fill; */

    width: 1200px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 40px -10px #000;
}

.row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
}

.part1 {
    background-color: rgb(204, 154, 61);
    padding: 60px 80px 0 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.part1 > h3 {
    font-family: 'Alex Brush';
}

.part1 > p {
    position: relative;
    bottom: 10px;
    /* left: ; */
}

.part1 > img {
    width: 100%;
}

.part2 {
    background-color: #FFF;
    padding: 20px 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.part2 > h4 {
    direction: rtl;
    margin: 0;
    font-size: smaller;
    font-weight: 400;
}

.part2 > h4 > a {
    text-decoration: none;
}


.form-body {
    padding: 40px 160px 0 160px;
    display: grid;
}


.form-body > h2::first-letter {
    text-transform: uppercase;
}

.form-body > .social-media {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    padding: 20px 0;
}

.btn {
    padding: 10px;
    background-color: #ddd;
    border-radius: 10px;
    height: 30px;
    width: 30px;
}

.main-btn {
    width: 160px;
}

.form-component {
    position: relative;
}

.form-body > .form-component > .or {
    text-align: center;
    padding-bottom:20px;
    /* background-color: red; */
    margin: auto;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
}


.form-body > .form-component > .or:before {
    content: "";
    /* height: 2px; */
    width: 100%;
    border-bottom: 1px solid #000;
    position: absolute;
    left: 0;
    top: 13px;
    z-index: -2;
}

.form-body > .form-component > .or:after {
    content: "";
    height: 20px;
    width: 40px;
    /* border-bottom: 1px solid #000; */
    position: absolute;
    /* left: 0; */
    top: 2px;
    left: calc(50% - 20px);
    /* background-color: aqua; */
    background-color: #FFF;
    margin: auto;
    z-index: -1;
    
}

