body {
    background-color: cadetblue;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, auto));
    grid-auto-rows: 50px;
    grid-gap: 10px;
}

.child {
    background-color: chocolate;
}