*{
    cursor: default;
}
body {
    background-color: rgb(17, 28, 29);
}

.container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-auto-rows: 150px;
    /* grid-column-gap: ;
    grid-row-gap: ; */
    grid-gap: 10px;
    /* justify-items: start; */
    /* align-items: center; */
    /* justify-content: start; */
    
    /* align-content: center; HOLD*/


}

.child {
    background-color: chocolate;
}

.ex_width {
    background-color: cornflowerblue;
    /* grid-column-start: 3;
    grid-column-end: span 3; */
    grid-column: auto/ span 2;
    /* grid-row-start: 1;
    grid-row-end: span 2;
    grid-row: 1/ span 2; */
}

.ex_height {
    background-color: rgb(29, 218, 186);
    grid-row: auto/ span 2;
}

.extra {
    background-color: violet;
    grid-row: auto/ span 2;
    grid-column: auto/ span 2;
}